sudo: required
language: python
python:
  - "2.7"

# command to install dependencies
install:
  - pip install ansible
  - ansible --version

# command to run tests
script:
  - ansible-playbook test_suma_list.yml --syntax-check
  - ansible-playbook test_suma_list.yml -vvv
  - ansible-playbook test_suma_execute.yml --syntax-check
  - ansible-playbook test_suma_execute.yml -vvv

