---
- name: "VIOS update on AIX"
  hosts: all
  gather_facts: no
  vars:
    log_file: "/tmp/ansible_vios_update_debug.log"

  tasks:

    #- name: "AIX VIOS HEALTH CHECK"
    #  aix_nim_vios_hc:
    #    description: 'Check the VIOS(es) can be updated'
    #    targets: "(gdrh10v1) (gdrh10v2) (gdrh9v1,gdrh9v2)"
    #    action: "health_check"
    #    vars: "{{ vars }}"

    #  register: hc_result


    - name: "AIX VIOS ALT DISK COPY"
      aix_nim_vios_alt_disk:
        description: 'Perform the rootvg copy to an alternate disk'
        targets: "(gdrh10v1,hdisk1) (gdrh10v2,hdisk2) (gdrh9v1,hdisk1,gdrh9v2,hdisk1)"
        action: "alt_disk_copy"
        #vios_status: "{{ hc_result.status }}"
        #nim_node: "{{ hc_result.nim_node }}"
        vars: "{{ vars }}"

      register: altd_result


    - name: "AIX NIM update ios"
      aix_nim_updateios:
        targets: "(gdrh10v1) (gdrh10v2) (gdrh9v1,gdrh9v2)"
        #filesets: "none"
        installp_bundle: "__smit_bundle_8323538"
        lpp_source: "VIOS_225_30-lpp_source"
        accept_licenses: "yes"
        updateios_flags: "install"
        preview: "no"
        #time_limit: "mm/dd/yyyy hh:mm"
        vios_status: "{{ altd_result.status }}"
        nim_node: "{{ altd_result.nim_node }}"
        vars: "{{ vars }}"

      register: updt_result


    ## Uncommented this section to perfom a cleanup, but be careful
    ## because this would remove the alternate rootvg which is your
    ## backup.
    #- name: "AIX VIOS ALT DISK CLEANUP"
    #- aix_nim_vios_alt_disk:
    #    description: 'Remove the altinst_rootvg from the alternate disk'
    #    targets: "(gdrh10v1,hdisk1) (gdrh10v2,hdisk2) (gdrh9v1,hdisk1) (gdrh9v2,hdisk1)"
    #    action: alt_disk_clean
    #    vios_status: "{{ updt_result.status }}"
    #    vars: "{{ vars }}"

    #- register: altdisk_result

    #- debug: var=hc_result.output
    - debug: var=altd_result.output
    - debug: var=updt_result.output
    #- debug: var=altdisk_result.output


